<%- include("../includes/header.ejs") %>
    <%- include("../includes/sidebar.ejs") %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Subscriptions</h1>
                        </div>
                    </div>

                    <!-- Main content -->
                    <section class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-row-reverse mb-3">
                                                <a href="/add_subscription" class="btn btn-primary">Add</a>
                                            </div>
                                            <div class="table-responsive-sm">
                                                <table id="subscriptiontable"
                                                    class="table table-dark table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Title</th>
                                                            <th>Price</th>
                                                            <th>Resolution</th>
                                                            <th>Sound Quality</th>
                                                            <th>Supported Devices</th>
                                                            <th>Connection</th>
                                                            <th>Active</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% allData.forEach(data=> { %>
                                                            <tr>
                                                                <td>
                                                                    <%= data.id %>
                                                                </td>
                                                                <td>
                                                                    <%= data.title %>
                                                                </td>
                                                                <td>
                                                                    <%= data.price %>
                                                                </td>
                                                                <td>
                                                                    <%= data.resolution %>
                                                                </td>
                                                                <td>
                                                                    <%= data.sound_quality %>
                                                                </td>
                                                                <td>
                                                                    <%= data.supported_devices %>
                                                                </td>
                                                                <td>
                                                                    <%= data.connection %>
                                                                </td>
                                                                <td>
                                                                    <%= data.isActive %>
                                                                </td>
                                                                <td>
                                                                    <a href="/add_subscription/<%= data.id %>"
                                                                        class="text-success">
                                                                        <i class="fas fa-edit fa-lg mx-1"></i>
                                                                    </a>
                                                                    <form action="/add_subscription/delete/<%= data.id %>"
                                                                        method="POST" style="display: inline"
                                                                        onsubmit="return confirm('Are you sure?')">
                                                                        <button type="submit"
                                                                            style="background: none; border: none; cursor: pointer">
                                                                            <i class="fas fa-trash fa-lg mx-1"
                                                                                style="color: red"></i>
                                                                        </button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark"></aside>

        <%- include("../includes/footer.ejs") %>
            </body>

            </html>