<%- include("../includes/header.ejs") %> <%- include("../includes/sidebar.ejs") %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Invoice</h1>
            </div>
          </div>

          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive-sm">
                        <table id="inovicetable" class="table table-dark table-striped table-bordered table-hover">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>User Id</th>
                              <th>Subscription Id</th>
                              <th>Transaction Id</th>
                              <th>Amount</th>
                              <th>Valid From</th>
                              <th>Valid To</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% allData.forEach(data=> { %>
                              <tr>
                                <td>
                                  <%= data.id %>
                                </td>
                                <td>
                                  <%= data.userId %>
                                </td>
                                <td>
                                  <%= data.subscriptionId %>
                                </td>
                                <td>
                                  <%= data.transactionId %>
                                </td>
                                <td>
                                  <%= data.amount %>
                                </td>
                                <td>
                                  <%= data.validFrom %>
                                </td>
                                <td>
                                  <%= data.validTo %>
                                </td>
                                <td>
                                  <% if(data.status === true){ %>
                                    <small class="badge badge-success">Success</small>
                                    <% }else{ %>
                                      <small class="badge badge-danger">Failed</small>
                                      <% } %>
                                </td>
                                <td>

                                  <form action="/invoice_delete/<%= data.id %>" method="POST" style="display: inline"
                                    onsubmit="return confirm('Are you sure?')">
                                    <button type="submit" style="
                                  background: none;
                                  border: none;
                                  cursor: pointer;
                                ">
                                      <i class="fas fa-trash fa-lg mx-1" style="color: red"></i>
                                    </button>
                                  </form>
                                </td>
                              </tr>
                              <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </section>
      </div>
    </div>
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark"></aside>

    <%- include("../includes/footer.ejs") %> 
    <script src="/js/JQuery/invoiceDetails.js"></script>
